@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

::-webkit-scrollbar-track {
  background: rgb(var(--background-end-rgb));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--foreground-rgb));
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--foreground-hover-rgb));
}

::-webkit-scrollbar-thumb:active {
  background: rgb(var(--foreground-active-rgb));
}

::-webkit-scrollbar-corner {
  background: rgb(var(--background-end-rgb));
}

::-webkit-scrollbar-button {
  display: none;
}
